*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 900px;
    margin: 0 auto;
    position: relative;

}

.plans{
    padding: 1rem 2rem;
    font-family: "Montserrat", sans-serif;
     margin-bottom: 4rem;

 }

 .cards{
    padding:0 7rem;
    border: 1px solid black;
    width: 300px;
    height: 500px;
    margin-top: 2rem;
    margin-left: 5rem;
    border-radius: 1rem;
    font-size: 25px;
 }

 .card{
    position: relative;
    top: 2.5rem;
    right: 4.5rem;

    
 }

p{
    font-size: 1rem;
    color: grey;
}

.price{
    position: absolute;
    text-align: center;
    top: 5rem;
    left: 3rem;
    display: flex;
    font-size: 3rem;
    
}

.percentual{
    display: flex;
    position: absolute;
    top: 10rem;
    left: 3rem;
    font-size: 1rem;
    align-items: center;
    
}

.off{
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 4px 10px;
    margin-left: 5px;
    background-color: rgb(222, 219, 219);
    display: flex;
}

.plan{
    position: absolute;
    top: 3rem;
   text-align: center; 
    border: 1px  solid transparent;
    background-color: greenyellow;
    border-radius: 10px;
    padding: 1rem;
    width: 14rem;
    margin-left:-3rem;



    

}
